doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(chartset="utf-8")
  body
    block loginContainer
      div#loginContainer
        p#usernameLabel Username
        input#usernameInput
        p#passwordLabel Password
        input(type='password',id='passwordInput')
        button#submitBtn LOGIN
    block content
    script(type='text/javascript',src='/javascripts/js.js')